.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.addButton {
  background: #61c148;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.closeBtn {
  background: #ddd;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
