.layout {
  display: flex;
}


.page {
  margin-left: 8px; 
  padding: 2rem 3rem;
  width: calc(100% - 220px);
  background: #fdfdfd;
  min-height: 100vh;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.subtitle {
  font-size: 15px;
  color: #444;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.card {
   
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 1.5rem;
  background: #ffffff;
 
}

.card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.card button {
  background: #2e7d32;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: #256628;
}
.markdown {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 15px;
  line-height: 1.6;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.markdown ul {
  margin-left: 1.2rem;
}

.markdown li {
  margin-bottom: 0.4rem;
}

.markdown strong {
  font-weight: 600;
}
.dropdown {
  width: 100%;
  padding: 8px;
  margin: 10px 0 15px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.subBtn {
  background: #2e7d32;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
}

.subBtn:hover {
  background: #256628;
}
