.wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.dayBtn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #4c922d;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}

.dayBtn:hover {
  background: #addd99;
}

.active {
  background: #4c922d;
  color: white;
  border-color: #4fb44f;
  font-weight: 600;
}
