.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 22px;
  border-radius: 12px;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.image {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 6px;
}

.closeBtn {
  margin-top: 10px;
  padding: 10px;
  background: #61c148;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
