.container {
  display: flex;
  height: 100vh;
  background: #f8f9fb;
}

.main {
  flex: 1;
  padding: 40px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #2d2d2d;
}

.addBtn {
  background: #4c922d;
  color: #fff;
  border: none;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.addBtn:hover {
  background: #3a731f;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 780px;
}


.card {
  background: #fff;
  border-radius: 12px;
  padding: 18px 22px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.09);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardInfo h3 {
  margin: 0;
  font-size: 18px;
  color: #3a3a3a;
  font-weight: 600;
}

.createdText {
  margin: 0;
  font-size: 13px;
  color: #707070;
}

.cardActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.viewBtn {
  background: #4c922d;
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.viewBtn:hover {
  background: #3a731f;
}

.deleteIconBtn {
  background: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.deleteIconBtn:hover {
  background: #ffcccc;
  transform: scale(1.1);
}
