.container {
  display: flex;
  min-height: 100vh;
 
}

.main {
  flex: 1;
  padding: 36px;
  background: #f5f6fa;
  
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  background: #61c148;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  gap: 16px;
     max-width: 50%;

}

.circle {
  width: 22px;
  height: 22px;
  border: 2px solid #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.itemName {
  flex: 1;
  font-weight: 500;
}

.qty {
  font-weight: 300;
  margin-right: 10px;
}

.deleteBtn {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.markBtn {
  margin-top: 30px;
  background: #61c148;
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  width: 260px;
  cursor: pointer;
}
